@import "tailwindcss";
/* 15.react_router_dom/src/index.css */


html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 5px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
}
