*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

div{
    padding: 25px;
}




.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

.form input{
    padding: 20px 20px;
    font-size: 16px;
}

.form button{
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
}