*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.parent{
  padding: 10px 10px;
}
.display{
  padding: 25px;
}
.display h1{
  width: fit-content;
  padding: 25px 25px;
  background: #000;
  color: aliceblue;
}

.btn{
  
  display: flex;
  gap: 20px;
}